#simplekiosk-paddingmaker {
  display: block;
  position: relative;
  height: 50px;
  left: 0;
  bottom: 0;
}

#simplekiosk-paddingmaker.top {
  bottom: auto;
  top: 0;
}

#simplekiosk-navigator {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 99999;
  bottom: 0;
  left: 0;
  background-color: #333;
  text-align: center;
}

#simplekiosk-navigator.right {
  left: auto;
  right: 0;
  border-radius: 10px 0 0 10px;
}

#simplekiosk-navigator.left {
  border-radius: 0 10px 10px 0;
}

#simplekiosk-navigator.left, #simplekiosk-navigator.right {
  width: 20%;
}

#simplekiosk-navigator.bottom {
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

#simplekiosk-navigator.top {
  bottom: auto;
  top: 0;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
}

#simplekiosk-backbutton, #simplekiosk-homebutton {
  border-radius: 0 !important;
  border-width: 0 !important;
  border-color: transparent !important;
  box-shadow: none !important;
  color: #ddd;
  padding: 2px 5% 0;
  background-color: transparent;
  font-weight: bold;
  font-size: 2em;
  height: 50px;
  line-height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 0 !important;
  cursor: pointer;
}

#simplekiosk-backbutton:hover, #simplekiosk-homebutton:hover {
  opacity: .5;
}

#simplekiosk-backbutton:focus, #simplekiosk-homebutton:focus,
#simplekiosk-backbutton:active, #simplekiosk-homebutton:active {
  outline-width: 0;
}

#simplekiosk-navigator.left #simplekiosk-backbutton, #simplekiosk-navigator.left #simplekiosk-homebutton,
#simplekiosk-navigator.right #simplekiosk-backbutton, #simplekiosk-navigator.right #simplekiosk-homebutton {
  padding: 2px 20% 0;
}